.PokemonInputSection {
    margin-top: 20px;
    margin-bottom: 20px;
}

.PokemonInputCard {
    width: 300px;
}

.PokemonInputCardContent {
    padding: 20px;
    border-radius: 4%;
}

.PokemonMoveAutocomplete:not(:last-child) {
    margin-bottom: 10px;
}

.SelectedPokemonImage {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PokemonInputSectionDivider{
    margin-top: 30px;
    margin-bottom: 30px;
}